@blue : #3B63BB;
@yellow: #F5A623;
@red: #D0021B;
@green: #00718B;
@orange: #e37550;
@purple : #9831CA;
@darkPurple : #5D285F;

#iron-router-progress {
  background-color: @yellow;
  box-shadow: 0 0 5px darken(@yellow, 40%);
}

.playerMatchDetail(@width,@backgroundColor) {
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: @backgroundColor;
  width: @width;
  margin: auto;
  border: 5px white solid;
  padding: 10px;
}

.userName(@backgroundColor) {
  font-size: 35px;
  font-weight: 800;
  color: white;
  background-color: @backgroundColor;
  width: 350px;
  margin: auto;
  border-radius: 40px;
  border: 5px white solid;
  padding: 5px;
}

body {
  .background;
}

.emptySpace {
  height: 10%;
}

.button(@fontSize, @backgroundColor) {
  font-size: @fontSize;
  background-color: @backgroundColor;
  color: white;
  border-radius: 81px;
  border: 6px solid white;
  padding: 0px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.background {
  background-color: @blue;
}

.middle {
  text-align: center;
}

.container-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.netBackground {
  background: url(./rete.png) no-repeat center;
}

.leaderboardBackground {
  background: url(../public/leaderboard.png) no-repeat center;
  background-size: 105%;
}

.button-match {
  .button(214%, @red);
}

.button-leaderboard {
  .button(214%, @yellow);

}

.button-last-matches {
  .button(214%, @green);
}

.userPicture {
  border-radius: 70px;
  height: 140px;
  border: 4px white solid;
}

.playerNameLeft {
  .userName(@orange);
}

.playerNameRight {
  .userName(@purple);
}

.playerMatchDetailLeft {
  .playerMatchDetail(200px, #B64924);
}

.playerMatchDetailRight {
  .playerMatchDetail(200px, @darkPurple);
}

.button-lets-play {
  .button(300%, @red);
  margin-top: 30px;
}

.user-picture-match-left {
  display: inline;
  width: 300px;
  background-color: @orange;
  border: 2px white solid;
  padding: 5px 80px 5px 100px;
  font-weight: 800;
  color: white;
  font-size: 35px;
}

.user-picture-match-right {
  display: inline;
  width: 300px;
  background-color: @purple;
  border: 2px white solid;
  padding: 5px 80px 5px 100px;
  font-weight: 800;
  color: white;
  font-size: 35px;
}

.score {
  font-size: 150px;
  color: lightgrey;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.buttonChangeScore(@backgroundColor) {
  background-color: @backgroundColor;
  color: white;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  border: 2px white solid;
  font-size: 30px;

}

.buttonPlusRight {
  .buttonChangeScore(@purple);
  margin: 60px 0 0px -110px;
}

.buttonMinusLeft {
  .buttonChangeScore(grey);
  margin: 60px 0 0px 80px;
}

.buttonMinusRight {
  .buttonChangeScore(@darkPurple);
  margin: 60px 0 0px 110px;
}

.buttonPlusLeft {
  .buttonChangeScore(@orange);
  margin: 60px 0 0px -190px;
}

.winBarContainer {
  width: 70%;
  background: lightgrey;
  margin: auto;
  border: 5px white solid;
  border-radius: 70px;
}

.connectPlayer1 {
  background-color: @orange;
  border: 2px white solid;
  color: white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.connectPlayer2 {
  background-color: @purple;
  border: 2px white solid;
  color: white;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.dataValue(@color) {
  width: 50%;
  background: @color;
  height: 10px;
  border-radius: 10px;
  border: 1px white solid;
  margin-top: 4px;
}

.dataValue1 {
  .dataValue(@red);
}

.dataValue2 {
  .dataValue(@green);
}

.dataValue3 {
  .dataValue(@yellow);
}

.dataTitle {
  font-weight: bold;
  color: white;
}
