@blue : #3B63BB;
@yellow: #F5A623;
@red: #D0021B;
@green: #00718B;

#iron-router-progress {
  background-color: @yellow;
  box-shadow: 0 0 5px darken(@yellow, 40%);
}

body {
  .background;
}

.emptySpace {
  height: 70%;
}

.button(@fontSize, @backgroundColor, @leftPosition, @topPosition) {
  font-size: @fontSize;
  background-color: @backgroundColor;
  color: white;
  border-radius: 81px;
  border: 6px solid white;
  padding: 0px 20px;
  margin-bottom: 5px;
}

.background {
  background-color: @blue;
}

.middle {
  text-align: center;
}

.container-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ball {
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  top: 20%;
  left: 30%;
}

.netBackground {
  background: url(./rete.png) no-repeat center;
}

.button-match {
  .button(214%, @red, 40%, 60%);

}

.button-leaderboard {
  .button(214%, @yellow, 41%, 75%);

}

.button-last-matches {
  .button(214%, @green, 10%, 85%);
}