<template name="indexMain">
    <div class="container-full netBackground">
        <div class="ball"></div>
        <div class="row text-center">
            <img width="400px" style="margin-top: 50px" src="/logo.png">
        </div>
        <div class="row emptySpace"></div>
        <div class="row text-center">
            <button class="button-match">LET'S MATCH</button>
        </div>
        <div class="row text-center">
            <button class="button-leaderboard">LEADERBOARD</button>
        </div>
        <div class="row text-center">
            <button class="button-last-matches">LAST MATCHES</button>
        </div>
    </div>
</template>
