<template name="indexMain">
    <div class="container-full netBackground">
        <div class="ball"></div>
        <div class="row text-center">
            <img width="400px" style="margin-top: 50px" src="/logo.png">
        </div>
        <div class="row emptySpace"></div>
        <div class="row text-center">
            <a href="{{pathFor 'playersRoute'}}" class="button-match">LET'S MATCH</a>
        </div>
        <div class="row text-center">
            <a href="{{pathFor 'leaderRoute'}}" class="button-leaderboard">LEADERBOARD</a>
        </div>
        <div class="row text-center">
            <a href="{{pathFor 'leaderRoute'}}" class="button-last-matches">LAST MATCHES</a>
        </div>
    </div>
</template>
