<template name="indexMain">
    <div class="container-full">
        <div class="text-center">
            <div class="netGrid"></div>

            <div class="ball"></div>
            <div>
                <a href="{{pathFor 'playersRoute'}}" class="button-match">LET'S MATCH</a>
            </div>
            <div>
                <a href="{{pathFor 'leaderRoute'}}" class="button-leaderboard">LEADERBOARD</a>
            </div>
        </div>
    </div>
    <!-- <p>
         <a href="{{pathFor 'matchListRoute'}}">Last Matches</a>
     </p>-->
</template>
