<template name="matchMain">
  <div class="container-full netBackground">
    {{#with match}}
      <div class="row text-center" style="margin-top: 20px; width:98%">
         <div class="col-sm-1">
             <img class="userPicture" src="/user1.jpg">
         </div>
         <div class="col-sm-4" style="margin-top: 40px">
             <div class="user-picture-match-left">{{playerOne}}</div>
         </div>
         <div class="col-sm-2">
             <img width="250px" src="/racchette.png">
         </div>
         <div class="col-sm-4" style="margin-top: 40px">
             <div class="user-picture-match-right">{{playerTwo}}</div>
         </div>
         <div class="col-sm-1">
             <img class="userPicture" src="/user2.jpg">
         </div>
     </div>
      <div class="row text-center">
        <div class="col-sm-6"><button id="player-one-connect" class="connectPlayer1">{{#if connectedOne}}Connected{{else}}Connect Player One{{/if}}</button></div>
        <div class="col-sm-6"><button id="player-two-connect" class="connectPlayer2">Connect Player Two</button></div>
      </div>
      <div class="row text-center" style="margin-top: 10px">
          <div class="col-sm-1"><button class="buttonMinusLeft">-</button></div>
          <div class="col-sm-4"><div class="score">{{scoreOne}}</div></div>
          <div class="col-sm-1"><button class="buttonPlusLeft">+</button></div>
          <div class="col-sm-1"><button class="buttonMinusRight">-</button></div>
          <div class="col-sm-4"><div class="score">{{scoreTwo}}</div></div>
          <div class="col-sm-1"><button class="buttonPlusRight">+</button></div>
      </div>
      {{/with}}
      <div class="row text-center">
        <div class="col-sm-6">
            <div class="row text-center">
                <div class="col-sm-1 col-sm-offset-1 dataTitle">Temp</div>
                <div class="col-sm-10 dataValue1" style="width: {{avgTmpPlayerOne}}%"></div>
            </div>
            <div class="row text-center">
                <div class="col-sm-1 col-sm-offset-1 dataTitle">Pulse</div>
                <div class="col-sm-10 dataValue2" style="width: {{avgBvpPlayerOne}}%"></div>
            </div>
            <div class="row text-center">
                <div class="col-sm-1 col-sm-offset-1 dataTitle">Skin</div>
                <div class="col-sm-10 dataValue3" style="width: {{avgGsrPlayerOne}}%"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row text-center">
                <div class="col-sm-1 col-sm-offset-2 dataTitle">Temp</div>
                <div class="col-sm-10 dataValue1" style="width: {{avgTmpPlayerTwo}}%"></div>
            </div>
            <div class="row text-center">
                <div class="col-sm-1 col-sm-offset-2 dataTitle">Pulse</div>
                <div class="col-sm-10 dataValue2" style="width: {{avgBvpPlayerTwo}}%"></div>
            </div>
            <div class="row text-center">
                <div class="col-sm-1 col-sm-offset-2 dataTitle">Skin</div>
                <div class="col-sm-10 dataValue3" style="width: {{avgGsrPlayerTwo}}%"></div>
            </div>
        </div>
    </div>

      <div class="row text-center" style="margin-top: 70px">
          <div class="winBarContainer">
              <img src="/empatica.png" height="100px" style="margin-top: -18px; margin-left: {{secretFormula}}%;">
          </div>
      </div>
  </div>
</template>
