<template name="playersMain">
  <input id="playerOne" class="typeahead" name="player one" type="text"
       placeholder="Player One"
       autocomplete="off" spellcheck="off"
       data-source="players"/>

  <input id="playerTwo" class="typeahead" name="player two" type="text"
       placeholder="Player Two"
       autocomplete="off" spellcheck="off"
       data-source="players"/>

  <button id="new-match">Match!</button>

  <p>
    <input id="username" name="" type="text"
         placeholder="Username"
         autocomplete="off" spellcheck="off" />
    <input id="name" name="" type="text"
         placeholder="Name"
         autocomplete="off" spellcheck="off" />
    <input id="surname" name="" type="text"
         placeholder="Surname"
         autocomplete="off" spellcheck="off" />
    <input id="deviceId" name="" type="text"
         placeholder="E3 Device Id"
         autocomplete="off" spellcheck="off" />
    <button name="New User" id="new-user">Create</button>
  </p>
</template>
